################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CommandClient/FileContentIndex/a05842e1-cc23-4555-ac11-45e9638bbc65.vsidx
/.vs/CommandClient/v17/.suo
/.vs/CommandClient/v17/DocumentLayout.json
/CommandClient/bin/Debug/Dotfuscated/CommandClient.exe
/CommandClient/bin/Debug/Dotfuscated/CommandClient.pdb
/CommandClient/bin/Debug/Dotfuscated/Map.xml
/CommandClient/bin/Debug/CommandClient.exe
/CommandClient/bin/Debug/CommandClient.pdb
*.xml
/CommandClient/bin/Debug/Logs.txt
/CommandClient/obj/Debug/CommandClient.csproj.AssemblyReference.cache
/CommandClient/obj/Debug/CommandClient.csproj.CopyComplete
/CommandClient/obj/Debug/CommandClient.csproj.CoreCompileInputs.cache
/CommandClient/obj/Debug/CommandClient.csproj.FileListAbsolute.txt
/CommandClient/obj/Debug/CommandClient.csproj.GenerateResource.cache
/CommandClient/obj/Debug/CommandClient.exe
/CommandClient/obj/Debug/CommandClient.pdb
/CommandClient/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/CommandClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CommandClient/bin/Debug/CommandClient.exe
/CommandClient/obj/Debug/CommandClient.csproj.AssemblyReference.cache
/CommandClient/obj/Debug/CommandClient.csproj.CopyComplete
/CommandClient/bin/Debug/CommandClient.pdb
/CommandClient/obj/Debug/CommandClient.csproj.CoreCompileInputs.cache
/CommandClient/obj/Debug/CommandClient.csproj.FileListAbsolute.txt
/CommandClient/obj/Debug/CommandClient.csproj.GenerateResource.cache
/CommandClient/obj/Debug/CommandClient.exe
/CommandClient/obj/Debug/CommandClient.pdb
/CommandClient/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/CommandClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/CommandClient/FileContentIndex/fd321b55-a54c-4bff-bf5a-c603d7ebc921.vsidx
